<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Приглашение!</h3>
</div>

<div class="modal-body" id="modal-body">
{{$ctrl.invite}}

  <form name="answer">

      <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="parentRelative"> Я пойду
      </label>
     </div>

    <div class="drinks">
      Что вы будете Пить?
      <select class="form-control" ng-model="drinks" ng-options="opt for opt in [1,2 ,3]"></select>
    </div>

  </form>


</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
  <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
