
<div class="row">
  <user-nav name="$ctrl.user.name"></user-nav>
</div>

<h1>Home Page</h1>

<br>
<div class="row">
  <div class="col-xs-12 col-sm-12">

  <uib-tabset>
    <uib-tab index="0" heading="Новые приглашения">
      <invite-list invites="$ctrl.allInvites" answered="null" ></invite-list>
    </uib-tab>

    <uib-tab index="1" heading="Принятые">
      <invite-list invites="$ctrl.allInvites" answered="true" ></invite-list>
    </uib-tab>


    <uib-tab index="2" heading="Отклоненные">
      <invite-list invites="$ctrl.allInvites" answered="false"></invite-list>
    </uib-tab>


    <uib-tab index="3" heading="Мои события">
      <event-list></event-list>
    </uib-tab>
  </uib-tabset>

  </div>
</div>





<hr>
<p>home-page</p>
{{ $ctrl.user }}
{{ $ctrl.allInvites }}
