<form class="form-wrapper" id="formParty" method="post">
  <div class="form-Intro">
    <h1>{{{ title }}}</h1>
  </div>
    {{{  helloUser   }}}

    <fieldset class="form-name">
      <legend>Login</legend>

      <div class="form-input-wrapper">
        <input id="youName" name="youName"  {{{youName}}}  placeholder="Ivan Petrov" >
        <label for="youName">Your Name</label>
      </div>

        <div class="form-input-wrapper">
        <input id="youPassword" name="youPassword" {{{youPassword}}} placeholder="Ivan Petrov" >
        <label for="youPassword">Your password</label>
      </div>

    </fieldset>

  <button id="submitBtn" class="form-submit-btn" type="submit"  value="Submit "> Submit Answer </button>

</form>
