<form class="form-wrapper" id="formParty" method="post">
  <div class="form-Intro">
    <h1>Форма входа на сайт</h1>
  </div>
    <div class="hello"> {{{  helloUser   }}} </div>

    <fieldset class="form-name">
      <legend>Log In</legend>


      <div class="form-input-wrapper">
        <input id="email" name="email"  placeholder="mail@yandex.ru" >
        <label for="email">Email</label>
      </div>
      <div class="error_alert"><p>{{{ email }}}</p></div>



      <div class="form-input-wrapper">
        <input type="password" id="password" name="password" >
        <label for="password"> Password </label>
      </div>
      <div class="error_alert"> {{{ password }}} </div>


    </fieldset>

  <button id="submitBtn" class="form-submit-btn" type="submit"  value="Submit "> Log In </button>
  <a href="/register"> Зарегистрироваться </a>

</form>
