




<div class="container">
  <div class="row">

    <div class="col right">
      Welcome!  {{{ userName }}}
      <a href="/logout">Log out</a>
    </div>

  </div>

  <div class="row">
    <div class="board">
      <a href="/createEvent"> Создать событие </a>

    </div>

  </div>
</div>
