<!doctype html>
<html lang="ru" ng-app="partyApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title> {{{ title }}} Let's go to the Party!</title>
  </head>
  <body>

  {{{body}}}

  </body>
</html>
