body {
	background-color: fafafa;
}

fieldset {
	border-radius: 3px;
	border: 1px solid #666;
	background-color: #fff;
}

.form-wrapper {
	padding: 10px;
}

@media (min-width: 800px) {
	.form-wrapper {
		max-width: 750px;
		margin: 0 auto;
	}
}

fieldset + fieldset {
	margin-top: 40px;
}

.form-input-wrapper {
	display: flex;
	flex-direction: column-reverse;
}

.form-input-wrapper label {
	color: 888;
	font-size: 15px;
	margin-bottom: 5px;
}

@media (min-width: 800px) {
	.form-input-wrapper {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
	}
}

input, placeholder, select {
	color: #999;
}

input, select{
	min-height: 34px;
	padding: 0 10px;
	font-size: 17px;
	border: 1px solid #ebebeb;
	outline: none;
	transition: transform .4s, box-shadow .4s, background-position .2s;
	background:  #f1f1f1;
	position: relative;
}



.form-input-wrapper input, select {
	flex: 0 0 48%;
	border: 1px solid #ccc;
	color: #222;
}

.form-input-wrapper label {
	flex: 1 0 48%;
	font-size: 15px;

}

.form-input-wrapper + .form-input-wrapper {
	margin-top: 10px;
}

legend {
	font-size: 1.3em;
	padding: 3px 6px;
	color: #FFF;
	margin-bottom: 10px;
	border-radius: 2px;
	background-color: #739327;
}

.form-input-wrapper input:focus, {
	border: 1px solid #236a7e;
	transform: scale(1.03);
	z-index: 3;
}

label:after {
	content: "*";
	font-size: 1.1em;
	position: relative;
	display: inline-flex;
	margin-left: .2ch;
	transition: color, 1s;
	color: red;
}

input:required:valid + label:after, select:required:valid + label:after  {
	color: green;
}

.form-submit-btn {
	padding: 0;
	margin: 1em 0;
	font-size: 1rem;
	position: relative;
	width: 300px;
	height: 44px;
}

.error_alert {
	padding :10px;
	color: red;
	text-align: right;
}
.error_alert p{
	padding: 0;
	margin: 0;
}

.hello {
	font-size: 2rem;
	padding:10px 20px;
}

a {
	margin: 0 10px;
}
.container {
	width: 95%;
	max-width: 1200px;
	padding: 10px;
}
.right {
	text-align: right;
}
.flex-2 {
	display: flex;
	justify-content: center;

}

.col-2 {
	flex: 0 0 48%;
	padding:10px;
}

.invite {
	border: 1px solid #CCC;
	border-radius: 3px;
	padding: 5px;



}
.invite + .invite {
	margin-top: 10px;
}
