<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Событие: {{ $ctrl.invite.title }}</h3>
</div>

<div class="modal-body" id="modal-body">
Место проведения: {{ $ctrl.invite.place }}

<form>
   <h4>Пойдешь на это событие?</h4>
   <div class="btn-group">
       <label class="btn btn-success" ng-model="$ctrl.answer.isReady" uib-btn-radio="true">Конечно иду!</label>
       <label class="btn btn-primary" ng-model="$ctrl.answer.isReady" uib-btn-radio="false"> Я не пойду</label>
   </div>

   <div ng-show="$ctrl.answer.isReady">
     <h4>Какие напитки предпочитаешь?</h4>
     <div class="drinks">
       <select class="form-control" ng-model="$ctrl.answer.drinks"
       ng-options="item as item.name for item in $ctrl.invite.drinks track by item.drink_id ">
       </select>
     </div>
   </div>
</form>

<hr>
<p>Результат:</p>
{{ $ctrl.answer }}


<hr>
{{ $ctrl.invite }}


</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>



<!--




           <ul>
               <li ng-repeat="item in $ctrl.items">
                   <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
               </li>
           </ul>
           Selected: <b>{{ $ctrl.selected.item }}</b>

   </script>
   <script type="text/ng-template" id="stackedModal.html">
       <div class="modal-header">
           <h3 class="modal-title" id="modal-title-{{name}}">The {{name}} modal!</h3>
       </div>
       <div class="modal-body" id="modal-body-{{name}}">
           Having multiple modals open at once is probably bad UX but it's technically possible.
       </div>
-->
