
<div class="row">
  <user-nav name="$ctrl.user.name"></user-nav>
</div>

<h1>События и приглашения</h1>

<br>
<div class="row">
  <div class="col-xs-12 col-sm-12">

  <uib-tabset>
    <uib-tab index="0" heading="Новые приглашения">
      <invite-list invites="$ctrl.allInvites" isready="null" ></invite-list>
    </uib-tab>

    <uib-tab index="1" heading="Принятые">
      <invite-list invites="$ctrl.allInvites" isready="true" ></invite-list>
    </uib-tab>


    <uib-tab index="2" heading="Отклоненные">
      <invite-list invites="$ctrl.allInvites" isready="false"></invite-list>
    </uib-tab>


    <uib-tab index="3" heading="Мои события">
      <event-list events="$ctrl.events" author="$ctrl.user.id" ></event-list>
    </uib-tab>
  </uib-tabset>

  </div>
</div>

<invite




<hr>

<!--
<p>home-page</p>
<p>{{ $ctrl.user }}</p>
<p>$ctrl.allInvites.length: {{ $ctrl.allInvites.length }}</p>

<p>$ctrl.events.length: {{ $ctrl.events.length }}</p>

<p>{{ $ctrl.allInvites }}</p>
-->
